*{
    margin: 0;
    padding: 0;
}
.btn{
    background-color: rgb(240, 207, 164);
    padding: 10px 20px;
}
.btn__add{
    background-color: rgb(240, 207, 164);
    padding: 10px 20px;
}
.done{
    background-color: antiquewhite;
    color: rgb(168, 126, 74);
}